body{
    background-color: ivory;
}

#myName{
    /* background-color: lightblue; */
    background-image: url('john_mugshot.jpg');
    background-repeat: no-repeat;
    background-size: 250px 250px;
    text-align: center;
    /* border: 2px solid blue; */
    padding: 80px;
    width: 700px;
    height: 80px;
}

#aboutMe{
    background-color: lightblue;
    text-align: center;
    border: 2px solid blue;
    padding: auto;
    width: 150px;
    height: 40px;
}
#intro{
    text-indent: 2em;
    width: 700px;
    height: 150px;
}

#education{
    background-color: lightblue;
    text-align: center;
    border: 2px solid blue;
    padding: auto;
    width: 150px;
    height: 40px;
}

#school_exp{
    background-color: lightblue;
    text-align: center;
    border: 2px solid blue;
    padding: auto;
    width: 260px;
    height: 40px;
}

#work_exp{
    background-color: lightblue;
    text-align: center;
    border: 2px solid blue;
    padding: auto;
    width: 260px;
    height: 40px;
}

a:link{
    color: black;
    text-decoration: none;
}
a:active{
    color: red;
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: underline;
}

#contact{
    background-color: mediumseagreen;
    text-align: center;
    border: 2px solid green;
    padding: auto;
    width: 150px;
    height: 40px;
}